<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <title>{% block title %}Saisie des avis{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="BTS SLAM groupe 3" />
        <link rel="icon" href="{{ asset('images/Mdl.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>