{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <article class="icon">
            <img src="{{ asset('images/Mdl.png') }}" alt="Icône de la M2L" />
        </article>
        <section><h1 class="title">Saisie des avis</h1>
            <br />
            {{ form_start(form) }}
                <article class="col-lg-6"><h3>1) Atelier :</h3>
                    {{ form_widget(form.listeAteliers, {'attr': {'class': 'custom-select'}}) }}
                </article>
                <br />
                <article class="col-12 col-sm-4"><h3>2) Votre avis sur l'atelier :</h3>
                    {% for avis in form.listeAvis %}
                        <div class="custom-control custom-radio">
                            {{ form_widget(avis, {'attr': {'class': 'custom-control-input'}}) }}
                            {{ form_label(avis, '', {'label_attr': {'class': 'custom-control-label'}}) }}
                        </div>
                    {% endfor %}
                </article>
                <br />
                <article class="button">
                    {{ form_widget(form.btnEnvoyer, {'attr': {'class': 'btn btn-primary'}}) }}
                </article>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}